{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="{% url 'home' %}">MyScheduler</a>

    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-link" href="#">Create schedule</a>
            {% if request.user.is_authenticated %}
                <a class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log in</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>


        {% if request.user.is_authenticated %}
            <div class="ms-auto d-flex align-items-center">
                <span class="text-white me-2">{{ request.user.username }}</span>
                <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture"
                     class="rounded-circle" width="35" height="35" style="object-fit: cover;">
            </div>
        {% endif %}
    </div>
</nav>

<form style="display: none;" id="logout-form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>