{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Browse other schedules</h2>

 <div class="row">
        {% for schedule in schedules %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="{{ schedule.picture.url }}" class="card-img-top" alt="{{ schedule.title }}" style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ schedule.title }}</h5>
                    <p class="card-text">{{ schedule.description|truncatewords:20 }}</p>

                    <ul class="list-group list-group-flush">
                        {% for task in schedule.tasks.all|slice:":2" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{{ task.description }}</span>
                                <span class="badge bg-secondary">{{ task.time|time:"H:i" }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="{% url 'schedule_detail' schedule.pk %}" class="btn btn-primary btn-sm mt-3">View Full Schedule</a>
                </div>

                <div class="card-footer text-muted small">
                    <a class="nav-link" href="{% url 'profile_view' schedule.user.id %}">
                        Posted by <strong>{{ schedule.user.username }}</strong>
                        <img src="{{ schedule.user.profile_picture.url }}" alt="Profile Picture"
                        class="rounded-circle" width="35" height="35" style="object-fit: cover;">
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No schedules found.</p>
        {% endfor %}
 </div>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if schedules.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ schedules.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% for num in schedules.paginator.page_range %}
            {% if schedules.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if schedules.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ schedules.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}